@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
@import url("https://fonts.googleapis.com/css?family=Saira Extra Condensed");
@import url("https://fonts.googleapis.com/css?family=Cormorant Garamond");
@import url("../../fa/scss/fontawesome.scss");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
@import url("https://fonts.googleapis.com/css?family=Saira Extra Condensed");
@import url("https://fonts.googleapis.com/css?family=Cormorant Garamond");
@import url("../../fa/scss/fontawesome.scss");
@use '../external-sass/node_modules/sass-mq/mq' with (
  $breakpoints: $breakpoints,
  $show-breakpoints: $breakpoints-shown,
);
@use "mq";
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.nav__item a,
.nav__item-has-children a,
.nav__item-logo a,
.nav__item-mycase a {
  text-decoration: none;
  color: black;
  font-family: "Cormorant Garamond";
  font-size: 1.5vw;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 61.25em) {
  .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 61.24em) {
  .nav__content {
    display: none;
  }
  .about-sections__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hamburger {
    display: block;
  }
}

.nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.1);
  top: 0;
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
}

.nav__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 5px 0;
  margin: 0;
  gap: 2.5vw;
}

.nav__content img {
  width: 17vw;
}

.nav__content .nav__item-has-children:hover .submenu {
  opacity: 1;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  background-color: #ffffff;
  border-top: 2px solid black;
  pointer-events: all;
  visibility: visible;
}

.nav__item::after {
  position: absolute;
  content: " ";
  border-bottom: 1px solid black;
  width: 100%;
  left: 0;
  top: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__item:hover::after {
  top: 0%;
}

.nav__item,
.nav__item-has-children,
.nav__item-logo,
.nav__item-mycase {
  padding: 7px 10px;
  position: relative;
  list-style-type: none;
}

.nav__item svg,
.nav__item-has-children svg,
.nav__item-logo svg,
.nav__item-mycase svg {
  position: absolute;
  padding: 3px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.nav__item-has-children:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.submenu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  list-style-type: none;
  padding: 15px;
  width: 110%;
}

.hamburger {
  position: fixed;
  background-color: white;
  width: 100%;
}

.hamburger__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.hamburger__wrap svg {
  width: 4vw !important;
  height: 4vw;
}

.cta {
  background-attachment: fixed;
  background-image: url(../img/citypath.jpg);
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
  height: 45vw;
  padding-top: 14em;
}

.cta .cta__content {
  text-align: center;
  text-transform: uppercase;
}

.cta__wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}

.cta__wrap span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: 2px;
  line-height: 1.8em;
  color: #edbb5f;
}

.cta__wrap h1 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: white;
  font-weight: 700;
  font-size: 6vw;
  margin-bottom: 20px;
}

.cta__wrap .cta__button {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cta__wrap .cta__button:hover {
  color: #edbb5f;
}

.cta__wrap .cta__button:hover::after {
  color: #edbb5f;
}

.cta__wrap .cta__button::after {
  color: #ffffff;
}

.cta__wrap .cta__button--one {
  margin-right: 15px;
}

.btn, .cta__wrap .cta__button {
  font-family: "Saira Extra Condensed", sans-serif;
  text-decoration: none;
  padding: 6px 20px;
  font-size: 2vw;
  letter-spacing: 1px;
  font-weight: 550;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn::after, .cta__wrap .cta__button::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f061";
  font-weight: 300;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-top: 4px;
}

.btn:hover::after, .cta__wrap .cta__button:hover::after {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 1;
}

.btn:hover, .cta__wrap .cta__button:hover {
  padding: 6px 2em 6px 0.7em;
}

.promo {
  position: relative;
}

.promo__wrap {
  background-color: white;
  top: -15vw;
  width: 45%;
  margin-left: 8vw;
  text-align: center;
  position: absolute;
  -webkit-box-shadow: 0px 15px 80px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 80px -6px rgba(0, 0, 0, 0.2);
}

.promo__wrap .promo__test {
  padding: 10% 5vw;
}

.promo__btn {
  border: 2px solid #edbb5f;
  color: black;
}

.promo__title {
  font-family: "Poppins", sans-serif;
  color: #edbb5f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5vw;
  letter-spacing: 2px;
}

.promo__body {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3vw;
}

.business-description {
  background: white;
  padding-top: 20vw;
}

.business-description__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  max-width: 1080px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.business-description__wrap h5 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  color: #edbb5f;
  text-transform: uppercase;
  font-size: 1.4vw;
  margin-bottom: 1vw;
}

.business-description__wrap h3 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 700;
  font-size: 3vw;
  margin-top: 0;
}

.business-description__wrap hr {
  border-top: 3px solid #edbb5f;
  width: 10vw;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.business-description__wrap p {
  font-family: "Poppins", sans-serif;
  color: #666;
  font-weight: 500;
  letter-spacing: 1px;
}

.about-sections {
  background-color: white;
  padding-top: 80px;
}

.about-sections__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}

.about-sections__section {
  text-align: center;
  letter-spacing: 1px;
}

.about-sections__section h2 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 700;
  font-size: 2.75vw;
}

.about-sections__section p {
  font-family: "Poppins", sans-serif;
  line-height: 2em;
}

.about-sections__text-wrap {
  padding: 30px;
}

.about-sections__section--one {
  background-color: #edbb5f;
  color: white;
  margin: 3% 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-sections__section--one .btn, .about-sections__section--one .cta__wrap .cta__button, .cta__wrap .about-sections__section--one .cta__button {
  background-color: white;
  color: #edbb5f;
  font-weight: 800;
}

.about-sections__section--two {
  background-color: #3d3d3d;
  color: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-sections__section--two .btn, .about-sections__section--two .cta__wrap .cta__button, .cta__wrap .about-sections__section--two .cta__button {
  background-color: white;
  color: #edbb5f;
  font-weight: 800;
}

.about-sections__section--three {
  background-color: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 3% 0;
}

.about-sections__section--three p {
  color: #666;
}

.about-sections__section--three .btn, .about-sections__section--three .cta__wrap .cta__button, .cta__wrap .about-sections__section--three .cta__button {
  background-color: #edbb5f;
  color: white;
  font-weight: 800;
}

.testimonials {
  background-color: white;
  text-align: center;
  padding-top: 10vw;
}

.testimonials__wrap {
  width: 80%;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.testimonials__wrap h3 {
  font-family: "Poppins", sans-serif;
  color: #edbb5f;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25vw;
  padding-bottom: 10px;
}

.testimonials__wrap h2 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3.5vw;
}

.testimonials__wrap p {
  font-family: "Poppins", sans-serif;
  color: #666;
  font-weight: 500;
}

.testimonials__wrap .wide {
  border-top: 2px solid #666;
  border-left: none;
  border-radius: none;
  border-bottom: none;
  width: 30vw;
  margin-bottom: 3vw;
}

.testimonials__wrap .thin {
  border-top: 2px solid #666;
  border-left: none;
  border-radius: none;
  border-bottom: none;
  width: 10vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.testimonial__body {
  margin: 0 75px;
}

.contact {
  background-color: white;
  position: relative;
  width: 100%;
  height: 80vw;
}

.contact__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto;
  padding: 60px;
  background-color: white;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 50%;
  z-index: 0;
}

.contact__wrap h2 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  margin-bottom: 3vw;
  font-size: 3vw;
  letter-spacing: 2px;
}

.footer {
  background-color: lightblue;
  z-index: 0;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3vw 8vw;
}

.footer__column {
  padding: 50px;
}

.footer__column li {
  list-style-type: none;
  text-align: center;
}

.footer__column ul {
  padding-left: 0;
}

.footer__column span {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  width: 100%;
}

.footer__column a {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

.footer__column div {
  text-align: center;
}

.footer__column input[type=text] {
  padding: 10px 20px;
  background-color: lightblue;
  border: 1px solid #666;
  margin: 3px;
  border-radius: .15vw;
}
/*# sourceMappingURL=style.css.map */