@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
@import url("https://fonts.googleapis.com/css?family=Saira Extra Condensed");
@import url("../../fa/scss/fontawesome.scss");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair Display");
@import url("https://fonts.googleapis.com/css?family=Saira Extra Condensed");
@import url("../../fa/scss/fontawesome.scss");
@use '../external-sass/node_modules/sass-mq/mq' with (
  $breakpoints: $breakpoints,
  $show-breakpoints: $breakpoints-shown,
);
@use "mq";
.nav__item a,
.nav__item-has-children a,
.nav__item-logo a,
.nav__item-mycase a {
  text-decoration: none;
  color: black;
  font-family: "Cormorant Garamond", Georgia, "Times New Roman", serif;
  font-size: 1.5vw;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 61.25em) {
  .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 20em) and (max-width: 61.24em) {
  .nav__content {
    display: none;
  }
}

.nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
}

.nav__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 5px 0;
  margin: 0;
  gap: 2.5vw;
}

.nav__content img {
  width: 17vw;
}

.nav__content .nav__item-has-children:hover .submenu {
  opacity: 1;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  background-color: #ffffff;
  border-top: 2px solid black;
}

.nav__item::after {
  position: absolute;
  content: ' ';
  border-bottom: 1px solid black;
  width: 100%;
  left: 0;
  top: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav__item:hover::after {
  top: 0%;
}

.nav__item,
.nav__item-has-children,
.nav__item-logo,
.nav__item-mycase {
  padding: 7px 10px;
  position: relative;
  list-style-type: none;
}

.nav__item svg,
.nav__item-has-children svg,
.nav__item-logo svg,
.nav__item-mycase svg {
  position: absolute;
  padding: 3px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.nav__item-has-children:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.submenu {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  list-style-type: none;
  padding: 15px;
  width: 110%;
}

.cta {
  background: url(../img/citypath.jpg);
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
  height: 45vw;
  padding-top: 14em;
}

.cta .cta__content {
  text-align: center;
  text-transform: uppercase;
}

.cta__wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}

.cta__wrap span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  letter-spacing: 2px;
  line-height: 1.8em;
  color: #edbb5f;
}

.cta__wrap h1 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: white;
  font-weight: 700;
  font-size: 6vw;
  margin-bottom: 20px;
}

.cta__wrap .cta__button {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cta__wrap .cta__button:hover {
  color: #edbb5f;
}

.cta__wrap .cta__button:hover::after {
  color: #edbb5f;
}

.cta__wrap .cta__button::after {
  color: #ffffff;
}

.cta__wrap .cta__button--one {
  margin-right: 15px;
}

.btn, .cta__wrap .cta__button {
  font-family: "Saira Extra Condensed", sans-serif;
  text-decoration: none;
  padding: 6px 20px;
  font-size: 2vw;
  letter-spacing: 1px;
  font-weight: 550;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn::after, .cta__wrap .cta__button::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f061";
  font-weight: 300;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-top: 4px;
}

.btn:hover::after, .cta__wrap .cta__button:hover::after {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 1;
}

.btn:hover, .cta__wrap .cta__button:hover {
  padding: 6px 2em 6px 0.7em;
}

.promo {
  width: 80%;
  max-width: 40vw;
  margin-right: auto;
  margin-left: 10vw;
}

.promo__wrap {
  background-color: white;
  margin-top: -20vw;
  text-align: center;
  float: left;
}

.promo__wrap .promo__test {
  padding: 10% 5vw;
}

.promo__btn {
  border: 2px solid #edbb5f;
  color: black;
}

.promo__title {
  font-family: "Poppins", sans-serif;
  color: #edbb5f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5vw;
  letter-spacing: 2px;
}

.promo__body {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3vw;
}
/*# sourceMappingURL=style.css.map */