
$menuFont: "Cormorant Garamond";
$bodyFont: "Poppins", sans-serif;
$titleFont: 'Playfair Display',Georgia,"Times New Roman",serif;
$buttonFont: 'Saira Extra Condensed', sans-serif;
$primary-font-color: black;
