@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Saira Extra Condensed');
@import url('../../fa/scss/fontawesome.scss');
$menuFont: "Cormorant Garamond", Georgia, "Times New Roman", serif;
$bodyFont: "Poppins", sans-serif;
$titleFont: 'Playfair Display',Georgia,"Times New Roman",serif;
$buttonFont: 'Saira Extra Condensed', sans-serif;
$primary-font-color: black;
